body {
  margin: 2%;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    font-weight: 1000;
    width: 96%;
    color: #000000;
}


.logo-holder {
    width: 96%;
    height: auto;
    position: relative;
    margin: 0 auto ;
    padding-top: 12px;
    padding-bottom: 24px;
    transform: translateZ(0);
 }

.bg {

  position: absolute;
  background: url(http://boutique.flarework.com/wp-content/themes/boutique/img/logo_large.png) center 0px no-repeat ;
  background-size: contain;
}

.bar {
    position: relative;
    height: 40px;
    background: #000000;
    width:  0%;
    top: 0px;
    margin-top: 8px;
    animation: fill 10s infinite alternate;
}

.bar.fill1 {
  animation: fill-1 9s infinite alternate; 
}

.bar.fill2 {
   animation: fill-2 8s infinite alternate;
}


.bar.fill3 {
   animation:  fill-3 7s infinite alternate;
}


.bar.fill4 {
   animation:  fill-4 6s infinite alternate;
}

.bar.fill5 {
   animation:  fill-5 5s infinite alternate;
}

.bar.fill6 {
   animation:  fill-6 4s infinite alternate;
}


@keyframes fill {
  0%   { width: 0; }
  33%  { width: 50%;}
  66%  { width: 25%;}
  100% { width: 75%; }
}

@keyframes fill-1 {
  0%   { width: 0; }
  33%  { width: 60%;}
  66%  { width: 30%;}
  100% { width: 90%; }
}

@keyframes fill-2 {
  0%   { width: 0; }
  33%  { width: 75%;}
  66%  { width: 35%;}
  100% { width: 88%; }
}

@keyframes fill-3 {
  0%   { width: 0; }
  33%  { width: 40%;}
  66%  { width: 27%;}
  100% { width: 85%; }
}

@keyframes fill-4 {
  0%   { width: 0; }
  33%  { width: 55%;}
  66%  { width: 28%;}
  100% { width: 80%; }
}

@keyframes fill-5 {
  0%   { width: 0; }
  33%  { width: 65%;}
  66%  { width: 95%;}
  100% { width: 45%; }
}


@keyframes fill-6 {
  0%   { width: 0; }
  33%  { width: 45%;}
  66%  { width: 22%;}
  100% { width: 76%; }
}

