@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

/*Body and class*/
body {
  font-family: 'roboto';
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #000;

}
/*End of body and class*/

/*Navigation bar*/
nav {
  margin: 20px 5%;
  padding: 10px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  top: 0;
  background-color: #fff;
  vertical-align: middle;
}

#logo {
  display: flex;
  flex-wrap: wrap;
  font-size: 40px;
  font-family: 'Anta';
  margin: 5px 0;
  font-weight: 800;
  line-height: 40px;
}

#buttons a {
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  line-height: 50px;
  margin: 0 15px;
}

#buttons button {
  border-style: none;
}

#login {
  background-color: #000;
}

#register {
  background-color: #06f;
}

/*#login:hover, #register:hover {
  background-color: #fff;
}

#login:hover a {
  color: #000;
}

#register:hover a {
  color: #06f;
} mayby for the futur ...*/
/*End of navigation bar*/

/*header*/
header {
  width: 100%;
  height: 500px;
  background-image: url(header.jpg);
  background-size: 100%;
  background-position-y: bottom;
  filter: brightness(0.9);
}

#header-quote {
  padding: 0 5%;
  font-size: 3em;
  line-height: 700px;
  vertical-align: bottom;
  color: #fff;
  font-weight: 800;
  text-shadow: -5px -5px 10px#000, 5px 5px 10px#000;
}
/*End of header*/

/*Benefits*/
#benefits {
  margin: 40px 5%;
}

#benefits #title {
  font-size: 2em;
  color: #06f;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 15px;
}

.arguments-line {
  display: flex;
  justify-content: space-between;
}

.arguments-line .argument {
  width: 28%;
  font-size: 1em;
  font-weight: 600;
  line-height: 1.2em;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.arguments-line .argument img {
  height: 40px;
  margin-bottom: 10px;
}
/*End of benefits*/

/*Values*/
#values {
  display: flex;
  justify-content: space-between;
  margin: 40px 5%;
}

#values #checklist {
  width: 20%;
  height: 168px;
  padding: 30px;
  background-color: #000;
  color: #fff;
  display: inline-block;
}

#values #checklist .checkline {
  font-size: 18px;
  line-height: 2px;
  font-weight: 600;
  vertical-align: middle;
}

#values #checklist .checkline img {
  height: 20px;
}

#values #register-form {
  width: 68%;
  align-self: flex-end;
}

#values #register-form input {
  width: 100%;
  height: 75px;
  font-size: 22px;
}

#values #register-form #text {
  margin-bottom: 10px;
  border: none;
  border-bottom: solid 10px;
  outline: none;
}

#values #register-form #button {
  background-color: #000;
  border: none;
  color: #fff;
  font-weight: 800;
}
/*End of values*/
